---
import { getCollection } from 'astro:content';
import { SITE_TITLE } from '../../consts';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${post.data.title} | ${SITE_TITLE}`} description={post.data.description} />
  </head>
  <body>
    <Header />
    <main>
      <article>
        <h1>{post.data.title}</h1>
        <p><strong>Published on:</strong> {post.data.pubDate}</p>
        <p>{post.data.description}</p>
        <div>
          {post.body}
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>

